# top-most EditorConfig file
root = true

[*.{cs,vb}]
# Insert a file header at the top of the file, replacing any existing file header.
file_header_template =------------------------------------\nWizard Practice AKS Micro Services\n------------------------------------

# Remove unused using directives
dotnet_diagnostic.IDE0005.severity = warning
